In [1]:
import pandas as pd

In [118]:
fields = ['Airline','Month','Year','Cancelled']
df = pd.read_csv('./datasets/Combined_Flights_2021.csv',usecols=[1,4,16,18],header=None,skiprows=1)
df.head()

                      1      4     16  18
0  SkyWest Airlines Inc.  False  2021   3
1  SkyWest Airlines Inc.  False  2021   3
2  SkyWest Airlines Inc.  False  2021   3
3  SkyWest Airlines Inc.  False  2021   3
4  SkyWest Airlines Inc.  False  2021   3

In [120]:
df[(df.iloc[:,1] == True) & (df.iloc[:,2] == 2021) & (df.iloc[:,3] == 9) ].iloc[:,0].value_counts()

Southwest Airlines Co.                       2326
American Airlines Inc.                        759
Republic Airlines                             704
United Air Lines Inc.                         633
JetBlue Airways                               487
GoJet Airlines, LLC d/b/a United Express      428
Spirit Air Lines                              316
SkyWest Airlines Inc.                         297
Delta Air Lines Inc.                          295
Air Wisconsin Airlines Corp                   286
Comair Inc.                                   202
Commutair Aka Champlain Enterprises, Inc.     202
Mesa Airlines Inc.                            160
Envoy Air                                     135
Capital Cargo International                   132
Alaska Airlines Inc.                          127
Endeavor Air Inc.                              80
Frontier Airlines Inc.                         79
Allegiant Air                                  50
Horizon Air                                    42
Hawaiian Airlines Inc.                         36
Name: 1, dtype: int64

In [196]:
df1 = pd.read_csv('./datasets/Combined_Flights_2021.csv', skiprows=1, header=None, usecols=[12,34,42])

In [122]:
df1.columns

Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

In [163]:
#question 2
df1[((df1.iloc[:,0] == False) & (df1.iloc[:,1]==3) & ((df1.iloc[:,2] >= 3) & (df1.iloc[:,2] <=30))) ].iloc[:,0].count()

50

In [198]:
#question 3
df1[(df1.iloc[:,1] == 'Nashville, TN') & (df1.iloc[:,2] == 'Chicago, IL')].iloc[:,0].mean()
# BNA ORD

72.73409801876956

In [195]:
df1.head()

      12  35                                  42
0   49.0  UT                         Phoenix, AZ
1   48.0  AZ                      St. George, UT
2  129.0  NH                         Chicago, IL
3  112.0  TX  Bristol/Johnson City/Kingsport, TN
4   69.0  AZ                     Bakersfield, CA

In [199]:
df2 = pd.read_csv('./datasets/Combined_Flights_2021.csv')

In [207]:
df2[(df2.DepTime.isna() == True)].FlightDate.unique().tolist()

['2021-03-18',
 '2021-03-25',
 '2021-03-05',
 '2021-03-06',
 '2021-03-23',
 '2021-03-24',
 '2021-03-13',
 '2021-03-14',
 '2021-03-15',
 '2021-03-04',
 '2021-03-19',
 '2021-03-20',
 '2021-03-16',
 '2021-03-17',
 '2021-03-30',
 '2021-03-27',
 '2021-03-11',
 '2021-03-12',
 '2021-03-01',
 '2021-03-08',
 '2021-03-03',
 '2021-03-07',
 '2021-03-26',
 '2021-03-21',
 '2021-03-22',
 '2021-03-28',
 '2021-03-02',
 '2021-03-10',
 '2021-03-29',
 '2021-03-09',
 '2021-03-31',
 '2021-12-12',
 '2021-12-11',
 '2021-12-10',
 '2021-12-09',
 '2021-12-08',
 '2021-12-07',
 '2021-12-06',
 '2021-12-05',
 '2021-12-04',
 '2021-12-03',
 '2021-12-02',
 '2021-12-01',
 '2021-12-18',
 '2021-12-19',
 '2021-12-20',
 '2021-12-13',
 '2021-12-14',
 '2021-12-15',
 '2021-12-16',
 '2021-12-23',
 '2021-12-24',
 '2021-12-25',
 '2021-12-17',
 '2021-12-26',
 '2021-12-27',
 '2021-12-30',
 '2021-12-31',
 '2021-12-21',
 '2021-12-22',
 '2021-12-28',
 '2021-12-29',
 '2021-04-11',
 '2021-04-03',
 '2021-04-04',
 '2021-04-02',
 '2021-04-30',
 '2021-04-23',
 '2021-04-29',
 '2021-04-16',
 '2021-04-15',
 '2021-04-01',
 '2021-04-10',
 '2021-04-24',
 '2021-04-12',
 '2021-04-21',
 '2021-04-22',
 '2021-04-13',
 '2021-04-17',
 '2021-04-14',
 '2021-04-18',
 '2021-04-09',
 '2021-04-19',
 '2021-04-05',
 '2021-04-06',
 '2021-04-07',
 '2021-04-08',
 '2021-04-20',
 '2021-04-26',
 '2021-04-28',
 '2021-04-25',
 '2021-04-27',
 '2021-11-16',
 '2021-11-15',
 '2021-11-14',
 '2021-11-13',
 '2021-11-12',
 '2021-11-11',
 '2021-11-08',
 '2021-11-07',
 '2021-11-04',
 '2021-11-03',
 '2021-11-02',
 '2021-11-01',
 '2021-11-30',
 '2021-11-27',
 '2021-11-24',
 '2021-11-10',
 '2021-11-22',
 '2021-11-25',
 '2021-11-19',
 '2021-11-18',
 '2021-11-20',
 '2021-11-21',
 '2021-11-17',
 '2021-11-09',
 '2021-11-05',
 '2021-11-06',
 '2021-11-29',
 '2021-11-23',
 '2021-11-28',
 '2021-11-26',
 '2021-09-04',
 '2021-09-05',
 '2021-09-06',
 '2021-09-07',
 '2021-09-08',
 '2021-09-09',
 '2021-09-10',
 '2021-09-11',
 '2021-09-23',
 '2021-09-24',
 '2021-09-25',
 '2021-09-01',
 '2021-09-02',
 '2021-09-03',
 '2021-09-19',
 '2021-09-20',
 '2021-09-30',
 '2021-09-26',
 '2021-09-16',
 '2021-09-12',
 '2021-09-29',
 '2021-09-21',
 '2021-09-13',
 '2021-09-27',
 '2021-09-28',
 '2021-09-18',
 '2021-09-14',
 '2021-09-22',
 '2021-09-15',
 '2021-09-17',
 '2021-01-25',
 '2021-01-19',
 '2021-01-31',
 '2021-01-14',
 '2021-01-29',
 '2021-01-08',
 '2021-01-10',
 '2021-01-18',
 '2021-01-05',
 '2021-01-30',
 '2021-01-01',
 '2021-01-15',
 '2021-01-04',
 '2021-01-02',
 '2021-01-21',
 '2021-01-26',
 '2021-01-16',
 '2021-01-11',
 '2021-01-17',
 '2021-01-13',
 '2021-01-24',
 '2021-01-23',
 '2021-01-27',
 '2021-01-22',
 '2021-01-09',
 '2021-01-20',
 '2021-01-28',
 '2021-01-07',
 '2021-01-03',
 '2021-01-12',
 '2021-01-06',
 '2021-08-16',
 '2021-08-28',
 '2021-08-29',
 '2021-08-30',
 '2021-08-31',
 '2021-08-05',
 '2021-08-06',
 '2021-08-07',
 '2021-08-20',
 '2021-08-21',
 '2021-08-09',
 '2021-08-22',
 '2021-08-27',
 '2021-08-01',
 '2021-08-02',
 '2021-08-03',
 '2021-08-04',
 '2021-08-08',
 '2021-08-10',
 '2021-08-11',
 '2021-08-12',
 '2021-08-13',
 '2021-08-14',
 '2021-08-15',
 '2021-08-17',
 '2021-08-18',
 '2021-08-19',
 '2021-08-23',
 '2021-08-24',
 '2021-08-25',
 '2021-08-26',
 '2021-07-02',
 '2021-07-01',
 '2021-07-03',
 '2021-07-10',
 '2021-07-11',
 '2021-07-12',
 '2021-07-19',
 '2021-07-20',
 '2021-07-21',
 '2021-07-28',
 '2021-07-29',
 '2021-07-30',
 '2021-07-04',
 '2021-07-05',
 '2021-07-13',
 '2021-07-14',
 '2021-07-22',
 '2021-07-23',
 '2021-07-31',
 '2021-07-06',
 '2021-07-07',
 '2021-07-15',
 '2021-07-16',
 '2021-07-24',
 '2021-07-25',
 '2021-07-08',
 '2021-07-09',
 '2021-07-17',
 '2021-07-18',
 '2021-07-26',
 '2021-07-27',
 '2021-05-20',
 '2021-05-07',
 '2021-05-21',
 '2021-05-12',
 '2021-05-13',
 '2021-05-01',
 '2021-05-03',
 '2021-05-05',
 '2021-05-06',
 '2021-05-14',
 '2021-05-23',
 '2021-05-28',
 '2021-05-31',
 '2021-05-27',
 '2021-05-09',
 '2021-05-24',
 '2021-05-30',
 '2021-05-16',
 '2021-05-10',
 '2021-05-11',
 '2021-05-18',
 '2021-05-25',
 '2021-05-17',
 '2021-05-04',
 '2021-05-19',
 '2021-05-08',
 '2021-05-26',
 '2021-05-15',
 '2021-05-29',
 '2021-05-02',
 '2021-05-22',
 '2021-02-01',
 '2021-02-15',
 '2021-02-16',
 '2021-02-17',
 '2021-02-19',
 '2021-02-20',
 '2021-02-12',
 '2021-02-18',
 '2021-02-11',
 '2021-02-28',
 '2021-02-13',
 '2021-02-14',
 '2021-02-02',
 '2021-02-27',
 '2021-02-10',
 '2021-02-21',
 '2021-02-03',
 '2021-02-04',
 '2021-02-05',
 '2021-02-23',
 '2021-02-07',
 '2021-02-08',
 '2021-02-09',
 '2021-02-24',
 '2021-02-06',
 '2021-02-22',
 '2021-02-25',
 '2021-02-26',
 '2021-10-14',
 '2021-10-29',
 '2021-10-23',
 '2021-10-15',
 '2021-10-17',
 '2021-10-31',
 '2021-10-25',
 '2021-10-11',
 '2021-10-28',
 '2021-10-08',
 '2021-10-30',
 '2021-10-18',
 '2021-10-13',
 '2021-10-02',
 '2021-10-10',
 '2021-10-12',
 '2021-10-16',
 '2021-10-09',
 '2021-10-27',
 '2021-10-01',
 '2021-10-07',
 '2021-10-26',
 '2021-10-24',
 '2021-10-04',
 '2021-10-22',
 '2021-10-21',
 '2021-10-03',
 '2021-10-19',
 '2021-10-05',
 '2021-10-20',
 '2021-10-06',
 '2021-06-01',
 '2021-06-10',
 '2021-06-11',
 '2021-06-12',
 '2021-06-19',
 '2021-06-20',
 '2021-06-21',
 '2021-06-28',
 '2021-06-29',
 '2021-06-30',
 '2021-06-05',
 '2021-06-06',
 '2021-06-13',
 '2021-06-14',
 '2021-06-15',
 '2021-06-22',
 '2021-06-23',
 '2021-06-24',
 '2021-06-07',
 '2021-06-08',
 '2021-06-16',
 '2021-06-17',
 '2021-06-25',
 '2021-06-26',
 '2021-06-09',
 '2021-06-18',
 '2021-06-27',
 '2021-06-04',
 '2021-06-03',
 '2021-06-02']